body {
    font-size: 16px;
    padding: 24px 12px;
}
@media screen and (min-width: 960px) {
    body {
        max-width: 960px;
        margin: 0 auto;
    }
}

h2 {
    margin: 0;
    font-size: 21px;
    margin-top: 48px;
    margin-bottom: 24px;
}

p,
li {
    line-height: 1.45;
}

.scale {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.note {
    box-sizing: border-box;
    margin: 3px;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EFEFEF;
    cursor: pointer;
}
.note.inScale {
    background: #CAEBF2;
}
.note.highlighted {
    border: 1px solid;
}
.note.playing {
    background: #FF3B3F;
}
.noteFunction {
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 24px;
    text-align: center;
}
